.toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: calc(100% - 56px);
    transition: all 0.168s;
    box-shadow: 3px 2px 2px 1px grey, inset 0px 0px 2px grey, inset 0px 0px 1px black;
    padding: 16px;
    margin: 10px;
    z-index: 3;
    transform: translate3d(0, 0, 0);
    background: honeydew;
}
.toolbar.hide {
    transform: translate3d(300px, 0, 0);
}
.toolbar .open, 
.toolbar .close {
    position: absolute;
    top: 0px;
    box-shadow: 1px 1px 1px black, inset 1px 1px black;
    height: 24pt;
    font-size: 24pt;
    z-index: 1;
    cursor: pointer;
    background: ghostwhite;
}
.toolbar .close {
    margin: 4px;
}
.toolbar div[class*="icon"]:hover {
    background: rgba(255, 225, 50, 0.9);
}
.toolbar .open {
    top: 0px;
    left: 0px;
    transform: translate3d(1000px, 0, 0);
    transform-origin: 0 0 0;
    transition: all 0.318s;
    opacity: 0;
    z-index: 0;
    background: orange;
}
.toolbar.hide .open {
    transform: translate3d(-100px, 0, 0);
    opacity: 1;
}
.toolbar .close {
    right: 0px;
    background: orange;
}

.toolbar .current-node {
    padding: 4px;
    box-shadow: 0px 0px 1px #1e1e1e;
    display: inline-block;
}

.toolbar .general-tools {
    position: relative;
    margin: 20% auto;
    box-shadow: 0px 0px 2px 1px #0e0e0e;
    padding: 5px;
    z-index: 1;
}
.general-tools > div {
    margin: 10px auto;
    padding: 4px;
    box-shadow: 0px 0px 1px 0px #0e0e0e;
    cursor: pointer;
}
.general-tools > div:active {
    background: yellow;
}
.toolbar .connection {
    margin: 10px auto;
    padding: 4px;
    box-shadow: 0px 0px 1px 0px #0e0e0e;
    cursor: pointer;
    z-index:1;
}
.toolbar .connection:active {
    background: yellow;
}
