<div class="control-slider">
    <div class="name"> </div>
    <div class="details">
        <div>
            <input type="range" min="0" max="10000" step="1" />
        </div>
        <div>
            <span> MIN </span>
            <input type="number" min="0" class="control-setting min" />
        </div>
        <div>
            <span> MAX </span>
            <input type="number" min="0" class="control-setting max" />
        </div>
        <div>
            <span> Step </span>
            <input type="number" value="1" min="1" class="control-setting step"  />
        </div>
        <div>
            <span> Value </span>
            <input disabled="true" type="text" class="slider-value"/>
        </div>
    </div>
</div>
